<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta th:replace="site/wall::meta">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" crossorigin="anonymous">
	<link rel="stylesheet" th:href="@{/css/global.css}">
	<link rel="stylesheet" 	th:href="@{/css/discuss-detail.css}">
	<title>帖子详情</title>
</head>
<body>
	<!-- 头部 -->
	<header class="bg-dark sticky-top" th:replace="~{site/wall::header}"></header>

	<!-- 内容 -->
	<div class="main">
		<!-- 帖子详情 -->
		<div class="container">
			<!-- 标题 -->
			<h6 class="mb-4">
				<span th:utext="${card.title}">标题</span>
			</h6>
			<!-- 作者 -->
			<div class="media pb-3 border-bottom">
				<a href="#">
					<!--头像-->
					<a href="#">
						<img th:src="${poster.headerUrl}" class="mr-4 rounded-circle" alt="用户头像" style="width:50px;height:50px;">
					</a>
				</a>
				<div class="media-body">
					<div class="mt-0 text-warning" th:text="${poster.username}">作者姓名</div>
					<div class="text-muted mt-3">
						发布于 <b th:text="${#dates.format(card.createTime,'yyyy-MM-dd HH:mm:ss')}">2019-04-15 15:32:18</b>
						<ul class="d-inline float-right">
							<!--								<li class="d-inline ml-2"><a href="#" class="text-primary">赞 11</a></li>-->
							<!--								<li class="d-inline ml-2">|</li>-->
							<!--								<li class="d-inline ml-2"><a href="#replyform" class="text-primary">回帖 </a></li>-->
							<!--当帖子为当前用户所发时显示删除按钮-->
							<li class="d-inline ml-2" th:if="${user.posterId == card.posterId}">
								<input type="button" value="删除"
									   th:onclick="|deleteCard('/cards/delete/${card.id}')|">
							</li>
						</ul>
					</div>
				</div>
			</div>
			<!-- 正文 -->
			<div class="content" th:utext="${card.content}" style="white-space:pre-wrap">
				正文
			</div>
		</div>
		<!-- 回帖 -->
		<div class="container mt-3">
			<!-- 内容数量（包括评论和评论的评论...） -->
			<div class="row">
				<div class="col-8">
					<h6><b class="square"></b><i th:text="${card.commentNum}">2</i>层回帖，<i th:text="${commentsNum}">30</i>层评论</h6>
				</div>
				<div class="col-4 text-right">
					<a href="#replyform" class="btn btn-primary btn-sm">&nbsp;&nbsp;回&nbsp;&nbsp;帖&nbsp;&nbsp;</a>
				</div>
			</div>
			<!-- 回帖列表 -->
			<ul class="list-unstyled mt-4">
				<li class="pb-3 pt-3 mb-3 border-bottom" th:each="comment:${commentDetails}"
					th:style="|text-indent:${comment.deep * 6}em;|">
					<div>
						<!--头像-->
						<a href="#">
							<img th:src="${comment.poster.headerUrl}" class="mr-4 rounded-circle" alt="用户头像" style="width:50px;height:50px;">
						</a>
						<span><b class="text-info" th:text="${comment.poster.username}">作者</b>:&nbsp;&nbsp;</span>
						<span th:utext="${comment.content}" style="white-space:pre-wrap">
							回复内容
						</span>
					</div>
					<div class="mt-3">
						<span th:text="${#dates.format(comment.createTime,'yyyy-MM-dd HH:mm:ss')}">2019-04-15 15:32:18</span>
						<ul class="d-inline float-right">
							<!--											<li class="d-inline ml-2"><a href="#" class="text-primary">赞(1)</a></li>-->
							<li class="d-inline ml-2">|</li>
							<!--回复评论-->
							<li class="d-inline ml-2">
								<a th:href="@{|#huifu-${commentStat.count}|}" data-toggle="collapse" class="text-primary">回复</a>
							</li>
							<!--当评论为当前用户所发时显示删除按钮-->
							<li class="d-inline ml-2" th:if="${user.posterId == comment.poster.posterId}">
								<input type="button" value="删除"
									   th:onclick="|deleteComment('/cards/comment/${comment.commentId}')|">
							</li>
						</ul>
						<div th:id="|huifu-${commentStat.count}|" class="panel-collapse collapse in">
							<form th:action="@{/cards/comment}" method="post"
								  style="text-indent:0">
								<input type="text" class="input-size" name="content" placeholder="回复层主">
								<input type="hidden" name="entityType" value="2">
								<input type="hidden" name="entityId" th:value="${comment.commentId}">
								<input type="hidden" name="cardId" th:value="${card.id}">
								<button type="submit" class="btn btn-primary btn-sm">&nbsp;&nbsp;回&nbsp;&nbsp;复&nbsp;&nbsp;</button>
							</form>
						</div>
					</div>
				</li>
			</ul>
			<!-- 分页 -->
			<!--当查询到数据，且数据大于一页时才显示分页-->
			<nav  th:replace="~{site/wall::paging}"></nav>
		</div>
		<!-- 回复卡片 -->
		<div class="container mt-3">
			<form id="replyform" class="replyform" method="post" th:action="@{/cards/comment}">
				<p class="mt-3">
					<textarea placeholder="评论楼主" id="comment_content" name="content"></textarea>
					<input type="hidden" name="entityType" value="1">
					<input type="hidden" name="entityId" th:value="${card.id}">
					<input type="hidden" name="cardId" th:value="${card.id}">
				</p>
				<p class="text-right">
					<button type="submit" class="btn btn-primary btn-sm">&nbsp;&nbsp;回&nbsp;&nbsp;帖&nbsp;&nbsp;</button>
				</p>
			</form>
		</div>
	</div>

	<!-- 尾部 -->
	<footer class="my-footer" th:replace="~{site/wall::footer}"></footer>

	<script src="https://code.jquery.com/jquery-3.3.1.min.js" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" crossorigin="anonymous"></script>
	<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
	<script th:src="@{/js/global.js}"></script>
	<script th:src="@{/js/card.js}"></script>
</body>
</html>
