<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta th:replace="~{site/wall::meta}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{/css/global.css}">
    <title>张二发的网站</title>
</head>
<body>
<div class="nk-container">
    <!-- 头部 -->
    <header class="bg-dark sticky-top" th:replace="~{site/wall::header}"></header>
    <div class="container">
        <!--发帖-->
        <div th:replace="~{site/wall::post}"></div>
        <!-- 帖子列表 -->
        <ul class="list-unstyled">
            <!--循环拼接该元素，遍历的数据是 cards，每次取到数据存在变量card中-->
            <li class="media pb-3 pt-3 mb-3 border-bottom" th:each="hole:${holes}">
                <div class="media-body">
                    <h6 class="mt-0 mb-3">
                        <!--点击跳转帖子详情页面-->
                        <a th:href="@{|holes/details/${hole.id}|}" th:utext="${hole.title}">标题</a>
                    </h6>
                    <p class="content" th:utext="${hole.content}">帖子内容</p>
                    <div class="text-muted font-size-12">
                        <u class="mr-3" th:utext="${hole.nickname}">作者</u> 发布于 <b th:text="${#dates.format(hole.createTime,'yyyy-MM-dd HH:mm:ss')}">2019-04-15 15:32:18</b>
                        <ul class="d-inline float-right">
                            <!--									<li class="d-inline ml-2">赞 11</li>-->
                            <!--                                									<li class="d-inline ml-2">|</li>-->
                            <li class="d-inline ml-2">回帖 <span th:text="${hole.commentNum}"></span></li>
                            <li class="d-inline ml-2">|</li>
                            <!--当帖子为当前用户所发时显示删除按钮-->
                            <li class="d-inline ml-2" th:if="${user.posterId == hole.posterId}">
                                <input type="button" value="删除"
                                       th:onclick="|deleteCard('/holes/delete/${hole.id}')|">
                            </li>
                        </ul>
                    </div>
                </div>
            </li>
        </ul>
    </div>
    <!-- 分页 -->
    <!--当查询到数据，且数据大于一页时才显示分页-->
    <nav  th:replace="~{site/wall::paging}"></nav>

    <!-- 尾部 -->
    <footer class="my-footer" th:replace="~{site/wall::footer}"></footer>
</div>

<script src="https://code.jquery.com/jquery-3.3.1.min.js" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" crossorigin="anonymous"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script th:src="@{/js/global.js}"></script>
<script th:src="@{/js/card.js}"></script>
</body>
</html>
