<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>欢迎登录</title>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <link rel="stylesheet" th:href="@{/css/login.css}">
</head>
<body>
<div id="loginDiv">
    <form action="http://localhost/users" method="post" id="loginForm">
        <h1>欢迎登录</h1>
        <p>学号<input id="stuId" name="stuId" type="text" onblur="checkStuId()">
            <span class="error" id="stuIdError" style="display: none">请输入正确的学号</span>
        </p>
        <p>密码<input id="password" name="password" type="password">
            <span class="error" id="passwordError" style="display: none">密码错误</span>
        </p>
    </form>
    <div id="subDiv">
        <input type="button" id = "signUp" class="button" value="登录" onclick="login()">
        <a href="/register">点击注册</a>
    </div>
</div>

<script>
    // 学号验证
    checkStuId = function(){
        let stuId = document.getElementById("stuId").value.trim();
        let stuIdError = document.getElementById("stuIdError");
        if (isStuIdValid(stuId)){
            stuIdError.style.display = "none";
            // 判断学号是否注册
            axios.get("/users/isExist?stuId=" + stuId).
            then(function(resp){
                let res = resp.data;
                if (!res.data){
                    stuIdError.innerHTML = "学号未注册";
                    stuIdError.style.display = "";
                    return false;
                }
            })
        }else{
            // 学号不符合规则
            stuIdError.innerHTML = "请输入正确的学号";
            stuIdError.style.display = "";
            return false;
        }
        return true;
    }

    isStuIdValid = function(stuId){
        let reg = /^[UM][0-9]{9}$/;
        return reg.test(stuId);
    }

    // 登录：其他信息合理并进行密码验证
    function login(){
        // 学号检测
        if (!checkStuId()) return;
        // 验证密码
        let param = new URLSearchParams();
        param.append("stuId", document.getElementById("stuId").value.trim());
        param.append("password", document.getElementById("password").value.trim());

        axios.post("/users/login", param).then(function (resp) {
            if (resp.data.data){
                let url = "http://" + document.domain + "/wall";
                window.location = url;
            }else{
                document.getElementById("passwordError").style.display="";
            }
        })
    }
</script>
</body>
</html>