<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta th:replace="~{site/wall::meta}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{/css/global.css}">
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <title>我的空间</title>
</head>
<body>
    <!-- 头部 -->
    <header class="bg-dark sticky-top" th:replace="~{site/wall::header}"></header>
    <!-- 帖子列表 -->
    <ul class="list-unstyled">
        <!--循环拼接该元素，遍历的数据是 cards，每次取到数据存在变量card中-->
        <li class="media pb-3 pt-3 mb-3 border-bottom" th:each="card:${cards}">
            <!--点击头像跳转未添加-->
            <a href="#">
                <!--用户头像暂时写死-->
                <img src="https://picx.zhimg.com/v2-9bc1971a6e1d2acc1ea8698f2bb1b88c_xll.jpg?source=32738c0c" class="mr-4 rounded-circle" alt="用户头像" style="width:50px;height:50px;">
            </a>
            <div class="media-body">
                <h6 class="mt-0 mb-3">
                    <!--点击跳转帖子详情页面-->
                    <a th:href="@{|cards/details/${card.id}|}" th:utext="${card.title}">标题</a>
                </h6>
                <div class="mt-1 font-size-14" th:utext="${card.content}">帖子内容</div>
                <div class="text-muted font-size-12">
                    <b th:text="${#dates.format(card.createTime,'yyyy-MM-dd HH:mm:ss')}">2019-04-15 15:32:18</b>
                    <ul class="d-inline float-right">
                        <!--									<li class="d-inline ml-2">赞 11</li>-->
                        <!--                                									<li class="d-inline ml-2">|</li>-->
                        <li class="d-inline ml-2">回帖 <span th:text="${card.commentNum}"></span></li>
                        <li class="d-inline ml-2">|</li>
                        <!--当帖子为当前用户所发时显示删除按钮-->
                        <li class="d-inline ml-2">
                            <input type="button" value="删除"
                                   th:onclick="|deleteCard('/cards/delete/${card.id}')|">
                        </li>
                    </ul>
                </div>
            </div>
        </li>
    </ul>

    <!-- 尾部 -->
    <footer class="my-footer" th:replace="~{site/wall::footer}"></footer>
</body>

<script src="https://code.jquery.com/jquery-3.3.1.min.js" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" crossorigin="anonymous"></script>
<script th:src="@{/js/global.js}"></script>
<script th:src="@{/js/card.js}"></script>
</html>