<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta th:replace="~{site/wall::meta}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{/css/global.css}">
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <title>我的空间</title>
</head>
<body>
    <!-- 头部 -->
    <header class="bg-dark sticky-top" th:replace="~{site/wall::header}"></header>
    <ul class="nav nav-tabs mb-3">
        <li class="active">
            <a class="nav-link" data-toggle="tab" href="#my-card">我发布的卡片</a>
        </li>
        <li class="active">
            <a class="nav-link" data-toggle="tab" href="#my-hole">我发布的树洞</a>
        </li>
    </ul>
    <div class="container">
        <div class="tab-content">
            <!--我发布的卡片-->
            <div class="tab-pane fade in active" id="my-card">
                <!-- 帖子列表 -->
                <ul class="list-unstyled">
                    <!--循环拼接该元素，遍历的数据是 cards，每次取到数据存在变量card中-->
                    <li class="media pb-3 pt-3 mb-3 border-bottom" th:each="card:${cards}">
                        <a href="#">
                            <img th:src="${user.headerUrl}" class="mr-4 rounded-circle" alt="用户头像" style="width:50px;height:50px;">
                        </a>
                        <div class="media-body">
                            <h6 class="mt-0 mb-3">
                                <!--点击跳转帖子详情页面-->
                                <a th:href="@{|~/cards/details/${card.id}|}" th:utext="${card.title}">标题</a>
                            </h6>
                            <div class="mt-1 font-size-14" th:utext="${card.content}">帖子内容</div>
                            <div class="text-muted font-size-12">
                                <b th:text="${#dates.format(card.createTime,'yyyy-MM-dd HH:mm:ss')}">2019-04-15 15:32:18</b>
                                <ul class="d-inline float-right">
                                    <!--									<li class="d-inline ml-2">赞 11</li>-->
                                    <!--                                									<li class="d-inline ml-2">|</li>-->
                                    <li class="d-inline ml-2">回帖 <span th:text="${card.commentNum}"></span></li>
                                    <li class="d-inline ml-2">|</li>
                                    <!--当帖子为当前用户所发时显示删除按钮-->
                                    <li class="d-inline ml-2">
                                        <input type="button" value="删除"
                                               th:onclick="|deleteCard('/cards/delete/${card.id}')|">
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </li>
                </ul>
                <!-- 分页 -->
                <!--当查询到数据，且数据大于一页时才显示分页-->
                <nav class="mt-5" th:if="${cardPage.numOfPosts > cardPage.numOfPostsOnPage}">
                    <ul class="pagination justify-content-center">
                        <li class="page-item">
                            <a class="page-link" th:href="@{|${cardPage.path}/1/${holePage.currentPage}|}">首页</a>
                        </li>
                        <li th:class="|page-item ${cardPage.currentPage==1?'disabled':''}|">
                            <a class="page-link" th:href="@{|${cardPage.path}/${cardPage.currentPage - 1}/${holePage.currentPage}|}">上一页</a></li>
                        <li th:class="|page-item ${i==cardPage.currentPage?'active':''}|" th:each="i:${#numbers.sequence(cardPage.from,cardPage.to)}">
                            <a class="page-link" th:href="@{|${cardPage.path}/${i}/${holePage.currentPage}|}" th:text="${i}">1</a>
                        </li>
                        <li th:class="|page-item ${cardPage.currentPage==cardPage.total?'disabled':''}|">
                            <a class="page-link" th:href="@{|${cardPage.path}/${cardPage.currentPage + 1}/${holePage.currentPage}|}">下一页</a>
                        </li>
                        <li class="page-item">
                            <a class="page-link" th:href="@{|${cardPage.path}/${cardPage.total}/${holePage.currentPage}|}">末页</a>
                        </li>
                    </ul>
                </nav>
            </div>
            <!--我发布的树洞-->
            <div class="tab-pane fade" id="my-hole">
                <!-- 帖子列表 -->
                <ul class="list-unstyled">
                    <li class="media pb-3 pt-3 mb-3 border-bottom" th:each="hole:${holes}">
                        <div class="media-body">
                            <h6 class="mt-0 mb-3">
                                <!--点击跳转帖子详情页面-->
                                <a th:href="@{|~/holes/details/${hole.id}|}" th:utext="${hole.title}">标题</a>
                            </h6>
                            <p class="content" th:utext="${hole.content}">帖子内容</p>
                            <div class="text-muted font-size-12">
                                <b th:text="${#dates.format(hole.createTime,'yyyy-MM-dd HH:mm:ss')}">2019-04-15 15:32:18</b>
                                <ul class="d-inline float-right">
                                    <!--									<li class="d-inline ml-2">赞 11</li>-->
                                    <!--                                									<li class="d-inline ml-2">|</li>-->
                                    <li class="d-inline ml-2">回帖 <span th:text="${hole.commentNum}"></span></li>
                                    <li class="d-inline ml-2">|</li>

                                    <input type="button" value="删除"
                                           th:onclick="|deleteCard('/holes/delete/${hole.id}')|">
                                </ul>
                            </div>
                        </div>
                    </li>
                </ul>
                <!-- 分页 -->
                <!--当查询到数据，且数据大于一页时才显示分页-->
                <nav class="mt-5" th:if="${holePage.numOfPosts > holePage.numOfPostsOnPage}">
                    <ul class="pagination justify-content-center">
                        <li class="page-item">
                            <a class="page-link" th:href="@{|${holePage.path}/${cardPage.currentPage}/1|}">首页</a>
                        </li>
                        <li th:class="|page-item ${holePage.currentPage==1?'disabled':''}|">
                            <a class="page-link" th:href="@{|${holePage.path}/${cardPage.currentPage}/${holePage.currentPage - 1}|}">上一页</a></li>
                        <li th:class="|page-item ${i==holePage.currentPage?'active':''}|" th:each="i:${#numbers.sequence(holePage.from,holePage.to)}">
                            <a class="page-link" th:href="@{|${holePage.path}/${cardPage.currentPage}/${i}|}" th:text="${i}">1</a>
                        </li>
                        <li th:class="|page-item ${holePage.currentPage==holePage.total?'disabled':''}|">
                            <a class="page-link" th:href="@{|${holePage.path}/${cardPage.currentPage}/${holePage.currentPage + 1}|}">下一页</a>
                        </li>
                        <li class="page-item">
                            <a class="page-link" th:href="@{|${holePage.path}/${cardPage.currentPage}/${holePage.total}|}">末页</a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>

    <!-- 尾部 -->
    <footer th:replace="~{site/wall::footer}"></footer>
</body>

<script src="https://code.jquery.com/jquery-3.3.1.min.js" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" crossorigin="anonymous"></script>
<script th:src="@{/js/global.js}"></script>
<script th:src="@{/js/card.js}"></script>
</html>