<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{/css/global.css}">
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <title>我的空间</title>
</head>
<body>
    <!-- 头部 -->
    <header class="bg-dark sticky-top">
        <div class="container">
            <!-- 导航 -->
            <nav class="navbar navbar-expand-lg navbar-dark">
                <!-- logo -->
                <!--                <a class="navbar-brand" href="#"></a>-->
                <!--                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">-->
                <!--                    <span class="navbar-toggler-icon"></span>-->
                <!--                </button>-->
                <!-- 功能 -->
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item ml-3 btn-group-vertical">
                            <a class="nav-link" href="/wall">卡片墙</a>
                        </li>
                        <li class="nav-item ml-3 btn-group-vertical">
                            <a class="nav-link" href="/hole">树洞</a>
                        </li>
                        <li class="nav-item ml-3 btn-group-vertical">
                            <a class="nav-link position-relative" href="#">消息<span class="badge badge-danger">12</span></a>
                        </li>
                        <li class="nav-item ml-3 btn-group-vertical dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <img src="https://picx.zhimg.com/v2-9bc1971a6e1d2acc1ea8698f2bb1b88c_xll.jpg?source=32738c0c" class="rounded-circle" style="width:30px;">
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item text-center" href="">个人主页</a>
                                <a class="dropdown-item text-center" href="#">账号设置</a>
                                <a class="dropdown-item text-center" href="/users/logout">退出登录</a>
                                <div class="dropdown-divider"></div>
                            </div>
                        </li>
                    </ul>
                    <!-- 搜索 -->
                    <form class="form-inline my-2 my-lg-0" action="#">
                        <input class="form-control mr-sm-2" type="search" aria-label="Search">
                        <button class="btn btn-outline-light my-2 my-sm-0" type="submit">搜索</button>
                    </form>
                </div>
            </nav>
        </div>
    </header>
    <!-- 帖子列表 -->
    <ul class="list-unstyled">
        <!--循环拼接该元素，遍历的数据是 cards，每次取到数据存在变量card中-->
        <li class="media pb-3 pt-3 mb-3 border-bottom" th:each="card:${cards}">
            <!--点击头像跳转未添加-->
            <a href="#">
                <!--用户头像暂时写死-->
                <img src="https://picx.zhimg.com/v2-9bc1971a6e1d2acc1ea8698f2bb1b88c_xll.jpg?source=32738c0c" class="mr-4 rounded-circle" alt="用户头像" style="width:50px;height:50px;">
            </a>
            <div class="media-body">
                <h6 class="mt-0 mb-3">
                    <!--帖子详情页面未实现-->
                    <a href="#" th:utext="${card.title}">标题</a>
                </h6>
                <div class="mt-1 font-size-14" th:utext="${card.content}">帖子内容</div>
                <div class="text-muted font-size-12">
                    <u class="mr-3" th:utext="${card.posterName}">作者</u> 发布于 <b th:text="${#dates.format(card.createTime,'yyyy-MM-dd HH:mm:ss')}">2019-04-15 15:32:18</b>
                    <ul class="d-inline float-right">
                        <!--									<li class="d-inline ml-2">赞 11</li>-->
                        <!--									<li class="d-inline ml-2">|</li>-->
                        <!--									<li class="d-inline ml-2">回帖 7</li>-->
                    </ul>
                </div>
            </div>
        </li>
    </ul>
    <!-- 尾部 -->
    <footer class="my-footer">
        <img src="http://static.nowcoder.com/company/images/res/ghs.png" style="width:18px;" />
        <a href="http://beian.miit.gov.cn/">鄂ICP备2022018191号</a>
    </footer>
</body>

<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" crossorigin="anonymous"></script>
<script th:src="@{/js/global.js}"></script>
</html>