<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="site.zhangerfa.dao.CardMapper">
    <resultMap id="cardInfoResultMap" type="site.zhangerfa.controller.tool.CardInfo">
        <id property="id" column="id"/>
        <result property="expected" column="expect"/>
        <result property="goal" column="goal"/>
        <result property="aboutMe" column="about_me"/>
        <result property="createTime" column="create_time"/>
        <association property="poster" javaType="site.zhangerfa.pojo.User">
            <result property="stuId" column="poster_id"/>
        </association>
    </resultMap>

    <insert id="add" keyProperty="card.id">
        insert into card(about_me, goal, poster_id, expect)
        values(#{card.aboutMe}, #{card.goal}, #{posterId}, #{card.expected})
    </insert>
    <update id="updateCard">
        update card set about_me = #{aboutMe}, goal = #{goal}, expect = #{expected}
    </update>
    <delete id="deleteById">
        delete from card where id = #{id}
    </delete>
    <select id="selectById" resultMap="cardInfoResultMap">
        select * from card where id = #{id}
    </select>
    <select id="selectOnePageCards" resultMap="cardInfoResultMap">
        select * from  card
        <where>
            <if test="goal != -1">
                goal = #{goal}
            </if>
            <if test="posterId != '0'">
                and poster_id = posterId
            </if>
        </where>
        order by createTime desc
        limit #{offset}, #{limit}
    </select>
    <select id="getTotalNums" resultType="java.lang.Integer">
        select count(*) from card
        <where>
            <if test="goal != -1">
                goal = #{goal}
            </if>
            <if test="posterId != '0'">
                and poster_id = posterId
            </if>
        </where>
    </select>
</mapper>