<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="site.zhangerfa.dao.MessageMapper">
    <select id="selectUnreadMessageNum" resultType="java.lang.Integer">
        select count(*) from message
        <where>
            poster_id = #{stuId}
            <if test="#{chatId} != 0">
                and chat_id = #{chatId}
            </if>
        </where>
    </select>
    <select id="selectOnePageMessagesForChat" resultType="site.zhangerfa.pojo.Message">
        select * from message where
        poster_id = #{stuId} and chat_id = #{chatId}
        order by create_time desc
        limit #{offset}, #{limit};
    </select>
    <select id="selectLatestMessages" resultType="site.zhangerfa.pojo.Message">
        select * from message
        where chat_id = #{chatId}
        order by c by create_time desc
        limit 0, 1;
    </select>
    <select id="selectMessagesNumForChat" resultType="java.lang.Integer">
        select count(*) from message where chat_id = #{chatId};
    </select>
</mapper>