<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="site.zhangerfa.dao.HoleNicknameMapper">
    <insert id="insertHoleNickname">
        insert into hole_nickname(hole_id, poster_id, nickname)
        values(#{holeId}, #{posterId}, #{nickname})
    </insert>
    <delete id="deleteNicknamesByHoleId">
        delete from hole_nickname
        where hole_id = #{holeId}
    </delete>
    <select id="selectHoleNickname" resultType="java.lang.String">
        select nickname from hole_nickname
        where hole_id = #{holeId} and poster_id = #{posterId}
    </select>
    <select id="selectAllHoleNickname4Hole" resultType="java.lang.String">
        select nickname from hole_nickname
        where hole_id = #{holeId}
    </select>
</mapper>