<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="site.zhangerfa.dao.HoleMapper">
    <sql id="select">
        id, poster_id, title, content, create_time, comment_num, hot
    </sql>
    <insert id="addHole" keyProperty="id">
        insert into hole(poster_id, title, content)
        values (#{posterId}, #{title}, #{content})
    </insert>
    <update id="commentNumPlusOne">
        update hole set comment_num = comment_num + 1
        where id = #{id}
    </update>
    <update id="commentNumMinusOne">
        update hole set comment_num = comment_num - 1
        where id = #{id}
    </update>
    <delete id="deleteHoleById">
        delete from hole
        where id = #{id}
    </delete>
    <select id="selectOnePageHoles" resultType="site.zhangerfa.pojo.Hole">
        select <include refid="select"/>
        from hole
        <where>
            <if test='posterId != "0"'>
                poster_id = #{posterId}
            </if>
        </where>
        order by create_time desc
        limit #{offset}, #{limit}
    </select>
    <select id="getNumOfHoles" resultType="java.lang.Integer">
        select count(*) from hole
    </select>
    <select id="selectHoleById" resultType="site.zhangerfa.pojo.Hole">
        select <include refid="select"></include>
        from hole
        where id = #{id}
    </select>
</mapper>