<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="site.zhangerfa.dao.CardMapper">
    <insert id="addCard">
        insert into card (stu_id, title, content) values(#{posterId}, #{title}, #{content})
    </insert>
    <select id="selectOnePageCards" resultType="Card">
        select stu_id, title, content, create_at as createTime, comment_num
        from card
        <where>
            <if test='stuId != "0"'>
                u.stu_id = #{stuId}
            </if>
        </where>
        order by createTime desc
        limit #{offset}, #{limit}
    </select>
    <select id="getNumOfCards" resultType="java.lang.Integer">
        select count(*) from card;
    </select>
</mapper>