<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="site.zhangerfa.dao.CardMapper">
    <select id="selectOnePageCards" resultType="Card">
        select username as postername, u.stu_id, title, content, c.create_at as createTime
        from user u join card c on u.stu_id = c.stu_id
        <where>
            <if test='stuId != "0"'>
                u.stu_id = #{stuId}
            </if>
        </where>
        order by createTime desc
        limit #{offset}, #{limit}
    </select>
    <select id="getNumOfCards" resultType="java.lang.Integer">
        select count(*) from card;
    </select>
</mapper>