<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="site.zhangerfa.dao.CommentMapper">
    <sql id="select">
        id, stu_id, entity_type, entity_id, content, create_time
    </sql>
    <insert id="insertComment">
        insert into comment(stu_id, entity_type, entity_id, content, create_time)
        values (#{stuId}, #{entityType}, #{entityId}, #{content}, #{createTime})
    </insert>

    <select id="selectCommentsByEntity" resultType="site.zhangerfa.pojo.Comment">
        select <include refid="select"></include>
        from comment
        where entity_type = #{entityType} and entity_id = #{entityId}
        order by create_time desc
        limit #{offset}, #{limit}
    </select>
    <select id="getNumOfCommentsForEntity" resultType="java.lang.Integer">
        select count(*)
        from comment
        where entity_type = #{entityType} and entity_id = #{entityId}
    </select>
    <select id="selectCommentById" resultType="site.zhangerfa.pojo.Comment">
        select <include refid="select"></include>
        from comment
        where id = #{id}
    </select>
</mapper>