<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="site.zhangerfa.dao.NoticeMapper">
    <sql id="insert">
        id, receiving_user_id, entity_type, entity_id, action_user_id,
            action_type, comment_id, entity_owner_id
    </sql>
    <insert id="insertNotice">
        insert into notice(<include refid="insert"></include>)
        values(#{id}, #{receivingUserId}, #{entityType},
               #{entityId}, #{actionUserId}, #{actionType}, #{commentId},
               #{entityOwnerId})
    </insert>
    <update id="updateStatusById">
        update notice set status = 1
    </update>
    <select id="selectNoticeById" resultType="Notice">
        select * from notice where id = #{id}
    </select>
    <select id="selectReadNoticesForUser" resultType="Notice">
        select * from notice
        <where>
            receiving_user_id = #{stuId}
            and status = 1
            <if test="actionType != 0">
                and action_type = #{actionType}
            </if>
        </where>
        order by id desc
    </select>
    <select id="getNumOfReadNotice" resultType="java.lang.Integer">
        select count(*) from notice
        <where>
            <if test='stuId != "0"'>
                receiving_user_id = #{stuId}
            </if>
            <if test="actionType != -1">
                and action_type = #{actionType}
            </if>
            and status = 1
        </where>
    </select>
    <select id="getNumOfUnreadNotice" resultType="java.lang.Integer">
        select count(*) from notice
        where receiving_user_id = #{stuId}
        <if test="actionType != null">
            and action_type = #{actionType}
        </if>
        and status = 0
    </select>
    <select id="selectUnreadNoticesForUser" resultType="site.zhangerfa.pojo.Notice">
        select * from notice
        <where>
            receiving_user_id = #{stuId}
            <if test="actionType != 0">
                and action_type = #{actionType}
            </if>
        </where>
        and status = 0
        order by id desc
    </select>
</mapper>