<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="site.zhangerfa.dao.PostMapper">
    <sql id="select">
        id, poster_id, title, content, create_at as createTime, comment_num, hot
    </sql>

    <insert id="add" keyProperty="post.id">
        insert into post (poster_id, title, content, type)
        values(#{post.posterId}, #{post.title}, #{post.content}, #{postType})
    </insert>
    <update id="commentNumPlusOne">
        update post set comment_num = comment_num + 1
        where id = #{id}
    </update>
    <update id="commentNumMinusOne">
        update post set comment_num = comment_num - 1
        where id = #{id}
    </update>
    <delete id="deletePostById">
        delete from post
        where id = #{id}
    </delete>
    <select id="selectOnePagePosts" resultType="Post">
        select <include refid="select"/>
        from post
        <where>
            type = #{postType}
            <if test='posterId != "0"'>
                and
                poster_id = #{posterId}
            </if>
        </where>
        order by createTime desc
        limit #{offset}, #{limit}
    </select>
    <select id="getNumOfPosts" resultType="java.lang.Integer">
        select count(*) from post
        where type = #{postType}
    </select>
    <select id="selectPostById" resultType="Post">
        select <include refid="select"/>
        from post
        where id = #{id}
    </select>
    <select id="getPostType" resultType="java.lang.Integer">
        select type from post where id = #{id}
    </select>
</mapper>