<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="site.zhangerfa.dao.UserMapper">
    <insert id="add">
        insert into user(stu_id, username, password, header_url)
        values(#{stuId}, #{username}, #{password}, #{headerUrl})
    </insert>

    <update id="updateUsername">
        update user
        set username = #{username}
        where stu_id = #{stuId}
    </update>
    <update id="updatePassword">
        update user
        set password = #{password}
        where stu_id = #{stuId}
    </update>
    <update id="updateHeaderUrl">
        update user
        set header_url = #{headerUrl}
        where stu_id = #{stuId}
    </update>

    <delete id="delete">
        delete from user
        where stu_id = #{stuId}
    </delete>

    <select id="selectUserByStuId" resultType="User">
        select stu_id, username, password, create_at as createTime, header_url, salt
        from user
        where stu_id = #{stuId}
    </select>
    <select id="selectAllUsers" resultType="site.zhangerfa.pojo.User">
        select * from user;
    </select>
</mapper>